@model IEnumerable<COMP4941_Term_Project.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Branch")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Branch.Name)
    </td>
    @{ string name = item.Name.FirstName + " " + item.Name.LastName; }
    <td>
        @Html.DisplayFor(modelItem => name)
    </td>
    <td>
        @{
            var base64 = Convert.ToBase64String(item.Picture);
            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
        }
        <img src="@imgSrc" width="80" height="80" />
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })|
        @Html.ActionLink("Contacts", "Index", "Contacts", new { id = item.ID }, null)
    </td>
</tr>
}

</table>
